<div class="footer-container">
    <div class="row">
        <div class="col">
            <h3 class="title">Navigation</h3>
            <ul>
                <li><a href="">Our Work</a></li>
                <li><a href="">Customer Testimonials</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </div>
        <div class="col">
            <h3 class="title">Follow Us On Social Media</h3>
            <div class="socials-list">
                <ul>
                    <li><fa-icon [icon]="faFacebook" size="2x"></fa-icon></li>
                    <li><fa-icon [icon]="faInstagram" size="2x"></fa-icon></li>
                    <li><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></li>
                    <li><fa-icon [icon]="faTwitter" size="2x"></fa-icon></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <h3 class="title">Our Mission</h3>
            <p>
                freestar

                freestar
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque lacinia est,
                consectetur cursus nunc tincidunt in. Donec ac viverra elit. Vivamus at nibh condimentum, congue mi et,
                iaculis mauris. Vestibulum hendrerit molestie augue quis tincidunt. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Mauris nec ante odio. Vestibulum sit
                amet ligula malesuada, ultrices mauris vitae, auctor orci. Maecenas vel tortor at massa aliquam
                malesuada gravida eu tellus. In non. </p>
        </div>
    </div>
</div>