<div class="home-container">
    <app-header></app-header>
    <div class="content-container">
        <div class="large-image-container">
            <div class="text-container">
                <h1>Donegal and Irelands Best Glass Provider</h1>
                <h2>Sentence or Text that grabs attention here</h2>
                <button class="button">
                    <strong>
                        <p>Find Out More</p>
                    </strong>
                </button>
            </div>
        </div>

        <div class="services-container">
            <h2>Our Services</h2>
            <div class="services">
                <div class="service">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>Glass Fittings</h4>
                    </div>
                </div>
                <div class="service">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>Emergency Repairs</h4>
                    </div>
                </div>
                <div class="service">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>Glass Staircases</h4>
                    </div>
                </div>
                <div class="service">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>Doors</h4>
                    </div>
                </div>
            </div>
            <button class="button">
                <p>All Services</p>
            </button>
        </div>

        <div class="benefits-container">
            <h2>Our Benefits</h2>
            <div class="benefits">
                <div class="benefit">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>24 Hour Callouts</h4>
                    </div>
                </div>
                <div class="benefit">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>Competitive Pricing</h4>
                    </div>
                </div>
                <div class="benefit">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>Specialized Team</h4>
                    </div>
                </div>
                <div class="benefit">
                    <div class="image">

                    </div>
                    <div class="text">
                        <h4>Wide Range Of Services</h4>
                    </div>
                </div>
            </div>
            <button class="buttonbenefit">
                <p>All Benefits</p>
            </button>
        </div>

    </div>
    <app-footer></app-footer>
</div>