:root {
    --primary-color: #62c370ff;
    --secondary-color: #ffffffff;
    --tertiary-color: #e3b505ff;
    --extra-color-one: #9a7aa0ff;  
    --extra-color-two: #424242ff;  
    
    --text-color-main: #424242ff;
    --text-color-secondary: #ffffffff;
    --text-color-tertiary: #e3b505ff;

  }


  /*
--onyx: #424242ff;
--white: #ffffffff;
--emerald: #62c370ff;
--saffron: #e3b505ff;
--mountbatten-pink: #9a7aa0ff;  
  */