@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary : #F05002;
    --secondary : #ffffff;
    --text-dark : #000000;
    --text-light : #ffffff;
    --accent : #666666;
}