@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary : #028132;
    --secondary : #ffffff;
    --text-dark : #000000;
    --text-light : #ffffff;
    --accent : #F0A815;
}